{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load i18n %}

    <!-- Carousel Start -->
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/carousel-1.jpg' %}" alt="Image">
                    <div class="carousel-caption top-0 bottom-0 start-0 end-0 d-flex flex-column align-items-center justify-content-center">
                        <div class="text-start p-5" style="max-width: 900px;">
                            <h3 class="text-white">{% trans "Oraganic Vegetables" %}</h3>
                            <h1 class="display-1 text-white mb-md-4">{% trans "Organic Vegetables For Healthy Life" %}</h1>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">{% trans "Explore" %}</a>
                            <a href="" class="btn btn-secondary py-md-3 px-md-5">{% trans "Contact" %}</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/carousel-2.jpg' %}" alt="Image">
                    <div class="carousel-caption top-0 bottom-0 start-0 end-0 d-flex flex-column align-items-center justify-content-center">
                        <div class="text-start p-5" style="max-width: 900px;">
                            <h3 class="text-white">{% trans "Organic Fruits" %}</h3>
                            <h1 class="display-1 text-white mb-md-4">{% trans "Organic Fruits For Better Health" %}</h1>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">{% trans "Explore" %}</a>
                            <a href="" class="btn btn-secondary py-md-3 px-md-5">{% trans "Contact" %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">{% trans "Previous" %}</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">{% trans "Next" %}</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Banner Start -->
    <div class="container-fluid banner mb-5">
        <div class="container">
            <div class="row gx-0">
                <div class="col-md-6">
                    <div class="bg-primary bg-vegetable d-flex flex-column justify-content-center p-5" style="height: 300px;">
                        <h3 class="text-white mb-3">{% trans "Organic Vegetables" %}</h3>
                        <p class="text-white">{% trans "The pain was very great, and the pain was great, and the pain was just the pain, not the two, but the pain, the pain" %}</p>
                        <a class="text-white fw-bold" href="{% url 'blog' %}">{% trans "Read More" %}<i class="bi bi-arrow-right ms-2"></i></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bg-secondary bg-fruit d-flex flex-column justify-content-center p-5" style="height: 300px;">
                        <h3 class="text-white mb-3">{% trans "Organic Fruits" %}</h3>
                        <p class="text-white">{% trans "The pain was very great, and the pain was great, and the pain was just the pain, not the two, but the pain, the pain" %}</p>
                        <a class="text-white fw-bold" href="{% url 'blog' %}">{% trans "Read More" %}<i class="bi bi-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Start -->


    <!-- About Start -->
    <div class="container-fluid about pt-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="d-flex h-100 border border-5 border-primary border-bottom-0 pt-4">
                        <img class="img-fluid mt-auto mx-auto" src="{% static 'img/about.png' %}">
                    </div>
                </div>
                <div class="col-lg-6 pb-5">
                    <div class="mb-3 pb-2">
                        <h6 class="text-primary text-uppercase">{% trans "About Us" %}</h6>
                        <h1 class="display-5">{% trans "We Produce Organic Food For Your Family" %}</h1>
                    </div>
                    <p class="mb-4">{% trans "It was a time of elitr at rebum at at clita. May the pain be long and long. Clita was the very thing, but it was not a work. Saint Clita was in great pain for just two days and for a long time" %}</p>
                    <div class="row gx-5 gy-4">
                        {% for feat in Feature%}
                        {% if feat.id < 3 %}
                        <div class="col-sm-6">
                            <img class="img-fluid mb-2 " src="{{feat.image.url}}" alt="" width="75" height="75" >
                            <h4>{{feat.title}}</h4>
                            <p class="mb-0">{{feat.description}}</p>
                        </div>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Facts Start -->
    <div class="container-fluid bg-primary facts py-5 mb-5">
        <div class="container py-5">
            <div class="row gx-5 gy-4">
                {%for fact in Fact%}
                <div class="col-lg-3 col-md-6">
                    <div class="d-flex">
                        <div class="rounded-circle d-flex align-items-center justify-content-center mb-3"
                            style="width: 60px; height: 60px;">
                            <img class="img-fluid mb-2 " src="{{fact.image.url}}" alt="" >
                        </div>
                        <div class="ps-4">
                            <h5 class="text-white">{{fact.name}}</h5>
                            <h1 class="display-5 text-white mb-0" data-toggle="counter-up">{{fact.number}}</h1>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <!-- Facts End -->
    

    <!-- Services Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6">
                    <div class="mb-3">
                        <h6 class="text-primary text-uppercase">{% trans "Services" %}</h6>
                        <h1 class="display-5">{% trans "Organic Farm Services" %}</h1>
                    </div>
                    <p class="mb-4">{% trans "It was a time of elitr at rebum at at clita. May the pain be long and long. Clita was the very thing, and the truth was, but it was hard work" %}</p>
                    <a href="{% url 'contact' %}" class="btn btn-primary py-md-3 px-md-5">{% trans "Contact Us" %}</a>
                </div>
                {% for serv in Service %}
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-light text-center p-5">
                        <img class="img-fluid mb-2 " src="{{serv.image.url}}" alt="" width="100" height="100" >
                        <h4>{{serv.title}}</h4>
                        <p class="mb-0">{{serv.description}}</p>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <!-- Services End -->


    <!-- Features Start -->
    <div class="container-fluid bg-primary feature py-5 pb-lg-0 my-5">
        <div class="container py-5 pb-lg-0">
            <div class="mx-auto text-center mb-3 pb-2" style="max-width: 500px;">
                <h6 class="text-uppercase text-secondary">{% trans "Features" %}</h6>
                <h1 class="display-5 text-white">{% trans "Why Choose Us!!!" %}</h1>
            </div>
            
            <div class="row g-5">
                {% for item in Feature %}
                <div class="col-lg-3">
                    <div class="text-white mb-5">
                        <div class="rounded-pill d-flex align-items-center justify-content-center mb-3"
                            style="width: 60px; height: 60px;">
                            <img class="img-fluid mb-2 " src="{{item.image.url}}" alt="" >
                        </div>
                        <h4 class="text-white">{{item.title}}</h4>
                        <p class="mb-0">{{item.description}}</p>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <!-- Features Start -->


    <!-- Products Start -->
    <div class="container-fluid py-5">
        <div class="container1">
            <div class="mx-auto text-center mb-5" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase">{% trans "Products" %}</h6>
                <h1 class="display-5">{% trans "Our Fresh & Organic Products" %}</h1>
            </div>
            <div class="owl-carousel product-carousel px-5">
                {% for item in Product %}
                <div class="pb-5">
                    <div class="product-item position-relative bg-white d-flex flex-column text-center" style="width: 250px; height: 300px;">
                        <img class="img-fluid mb-4" src="{{item.image.url}}" alt="">
                        <h6 class="mb-3">{{item.title}}</h6>
                        <h5 class="text-primary mb-0">${{item.price}}</h5>
                        <div class="btn-action d-flex justify-content-center">
                            <a class="btn bg-primary py-2 px-3" href="/product-view/{{item.id}}"><i class="bi bi-cart text-white"></i></a>
                            <a class="btn bg-secondary py-2 px-3" href="/product-view/{{item.id}}"><i class="bi bi-eye text-white"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Products End -->


    <!-- Testimonial Start -->
    <div class="container-fluid bg-testimonial py-5 my-5">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="owl-carousel testimonial-carousel p-5">
                        {% for customer in Customer%}
                        <div class="testimonial-item text-center text-white">
                            <img class="img-fluid mx-auto p-2 border border-5 border-secondary rounded-circle mb-4" src="{{customer.image.url}}" alt="">
                            <p class="fs-5">{{customer.comment}}</p>
                            <hr class="mx-auto w-25">
                            <h4 class="text-white mb-0">{{customer.first_name}} {{customer.last_name}}</h4>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="mx-auto text-center mb-5" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase">{% trans "The Team" %}</h6>
                <h1 class="display-5">{% trans "We Are Professional Organic Farmers" %}</h1>
            </div>
            <div class="row g-5">
                {% for farmer in Farmer%}
                <div class="col-lg-4 col-md-6">
                    <div class="row g-0">
                        <div class="col-10">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="{{farmer.image.url}}" alt="">
                                <div class="position-absolute start-0 bottom-0 w-100 py-3 px-4" style="background: rgba(52, 173, 84, .85);">
                                    <h4 class="text-white">{{farmer.first_name}}</h4>
                                    <span class="text-white">{{farmer.last_name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="h-100 d-flex flex-column align-items-center justify-content-around bg-secondary py-5">
                                <a class="btn btn-square rounded-circle bg-white" href="{{farmer.twitter_url}}"><i class="fab fa-twitter text-secondary"></i></a>
                                <a class="btn btn-square rounded-circle bg-white" href="{{farmer.facebook_url}}"><i class="fab fa-facebook-f text-secondary"></i></a>
                                <a class="btn btn-square rounded-circle bg-white" href="{{farmer.linkedin_url}}"><i class="fab fa-linkedin-in text-secondary"></i></a>
                                <a class="btn btn-square rounded-circle bg-white" href="{{farmer.instagram_url}}"><i class="fab fa-instagram text-secondary"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="mx-auto text-center mb-5" style="max-width: 500px;">
                <h6 class="text-primary text-uppercase">{% trans "Our Blog" %}</h6>
                <h1 class="display-5">{% trans "Latest Articles From Our Blog Post" %}</h1>
            </div>
            <div class="row g-5">
                {% for post in Post %} 
                <div class="col-lg-4">
                    <div class="blog-item position-relative overflow-hidden">
                        <img class="img-fluid" src="{{post.image.url}}" alt="">
                        <a class="blog-overlay" href="{% url 'blog' %}">
                            <h4 class="text-white">{{post.title}}</h4>
                            <h4 class="text-white">{{post.slug}}</h4>
                            <span class="text-white fw-bold">{{post.created_on}}</span>
                        </a>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <!-- Blog End -->
    

    {% endblock content %}