{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load i18n %}

    <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 bg-hero mb-5">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">
                    <h1 class="display-1 text-white mb-md-4">{% trans "You Can Comment Right Here" %}</h1>
                    <a href="{% url 'index' %}" class="btn btn-primary py-md-3 px-md-5 me-3">{% trans "Home" %}</a>
                    <a href="{% url 'blog' %}" class="btn btn-secondary py-md-3 px-md-5">{% trans "Blog" %}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


<!-- Comment from -->
<style>
        .container1 {
            text-align: 5%;
            padding-left: 27%;
        }
</style>
<div class="container1">
    <div class="container-fluid py-5">
        <!-- <div class="bg-primary h-100 p-5"> -->
             <div class="col-md-8 card mb-400  mt-3 left  top">
                <div class="card-body">
                    <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
                    <p class="text-primary text-uppercase">{{ post.author_name }} | {{ post.created_on }}</p>
                    <p class="display-5">{{ post.content | safe }}</p>
                </div>
            </div><br><br>
            <style>
            .com {
                text-align: 5%;
                padding-left: 6%;
            }
            </style>
            <div class="com">
            <div class="row g-0">
                <div class="col-lg-7">
                    <div class="bg-primary h-100 p-5">
                        <h3>Leave a comment</h3>
                        <form method="post" action="">
                        <div class="row g-3">
                            {{ comment_form.as_p }}
                            {% csrf_token %}
                            <button class="btn btn-secondary w-100 py-3" type="submit">{% trans "Send Comment" %}</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div></div>
        <!-- </div> -->
    </div>
</div>
<!-- Comment form ends -->


{% endblock content %}